@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
}
.container {
    width: 62.5vw; 
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    margin-top: 17px;
    color: #95E1D3;
}
.list {
    margin-top: 25px;
    width: 39.16%;
    display: flex;
    justify-content: space-between;
}
li {
    display: inline-block;
    letter-spacing: none;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #95E1D3;
}

.list a::after {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #F38181;
    content: "";
    transition: 0.3s all;
}
.list a {
    position: relative;
    color: #95E1D3;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}
.list a:hover {
    color: #F38181;
}
a:hover:after {
    width: 100%;
}
/* .list a:hover::after {
    transform: scale(1);
} */
main {
    display: flex;
    justify-content: center;
    margin-bottom: 103px;
}
.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    margin-top: 81px;
}
.text-benefit {
    font-family: 'Roboto', sans-serif;
    color: #B6B6B6;

}
.title {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
}
.subtitle {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.line {
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: #F38181;
    margin-bottom: 40px;
}
.benefit-description{
    font-family: 'Roboto', sans-serif;
    color: #B6B6B6;
}
.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* min-width: 1168px; */
    width: 100%;
    /* height: 20.667vw; */
}
.benefit {
    display: flex;
    width: 27.58%;
    width: 28.33%;
    height: 29.24%;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 100px;
}
.img-block {
    display: inline-block;
    height: 100%;
    min-width: 57px;
    justify-content: flex-start;
    align-items: flex-start;
}
.card {
    font-size: 14px;
    min-height: 37px;
    font-family: 'Montserrat', sans-serif;
}
.benefit-description {
    text-align: center;
}
.mans-container {
    width: 65.625vw;
}
.team {
    display: flex;
    justify-content: space-between;
}
.person {
    position: relative;
    width: 30.95%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.gradient {
    display: none;
    width: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    min-height: 380px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
}
/* .gradient:focus {
    display: flex;
} */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}
.social-item {
    display: flex;
    width: 57px;
    height: 57px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FCE38A;
    margin-right: 1px;
}
.social-item:hover {
    background-color: #95E1D3;
    
}
.man {
    width: 100%;
    min-height: 380px;
    block-size: cover;
    background-position: center;
    margin-bottom: 30px;
}
.first-man .man {
    background-image: url(../img/man1.svg);
}
.second-man .man {
    background-image: url(../img/man2.svg);
}
.third-man .man {
    background-image: url(../img/man3.svg);
}
.first-man:hover .gradient {
    display: flex;
}
.second-man:hover .gradient {
    display: flex;
}
.third-man:hover .gradient {
    display: flex;
}
.name {
    text-align: center;
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}
.jobe {
    color: #B6B6B6;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
}
.team {
    display: flex;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-conteiner {
    /* display: flex; */
    /* justify-content: space-between; */
    flex-direction: row;
}
.linesecond {
    margin-bottom: 10px;
    display: inline-block;
    width: 62.5vw;
    height: 1px;
    background-color: #B6B6B6;
    
}
.footer-text-first {   
    display: inline-block;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
 }
.footer-text-next {
    color: #F38181;
}
input::placeholder {
    color: #B6B6B6;
    font-family: 'Roboto', sans-serif;
}
input {
    width: 230px;
    height: 38px;
}
.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-form input {
    padding-left: 10px;
    border: 1px solid #B6B6B6;
}
button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background: #95E1D3;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
