@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;  
}
.container-holidey {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bp.png);
    background-position: center;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #ffff;
}
nav {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #ffff;
}
.logo {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.logo-in {
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 112px;
}
.a {
    padding: 5px;
}
.a:hover {
    border: 2px solid #ffff;
    border-radius: 30px;
    padding: 9px 5px;
    width: 92px;
    height: 39px;
}
.about-holiday {
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 306.03px;
}
.text {
    min-width: 250px;
    min-height: 47px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 30.041px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 12px;
}
.subtext {
    max-width: 230px;
    min-height: 43px;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    line-height: 21px;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.link {
    margin-bottom: 149px;
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 20px;
    padding: 13px 0;
    background: #FF4E50;
    width: 88.4375%;
    max-width: 320px;
    margin-bottom: 136px;
}
.title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 63px;
    margin-bottom: 20px;
    text-align: center;
} 
.team {
    display:flex;
    justify-content:center;
    align-items:center;
}
/* .container>h2 {
    font-style: normal;
    font-weight: bold;
    font-style: 22px;
    line-height: 27;
} */
.employees {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.employee {
    width: 60.625vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee p {
    font-style: normal;
    font-weight: 300;
    font-style: 14.0112px;
    line-height: 16px;
    color:#666666;
}
.img {
    margin-bottom: 13px;
}
.name {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13px;
}
.cool-text {
    text-align: center;
    margin-bottom: 31px;
    font-family: 'Roboto', sans-serif;
}
.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-btn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14.001px;
    line-height: 17px;
    color: #FF4E50;
    text-align: center;
    background: #ffff;
    border: 2px solid #FF4E50;
    box-sizing: border-box;
    padding: 13px 0;
    border-radius: 50px;
    width: 283px;
    margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        margin-top: 42px;
        
    }
    .logo-in {
        margin-top: 27px;
        margin-bottom: 0;
    }
    .ref-sign-up {
        margin-top: 27px;
    }
    .text {
        max-width: 507px;
        margin-top: 135px;
        font-size: 52px;
        line-height: 63px;
        text-align: center;
    }
    .subtext {
        margin-top: 36px;
        font-size: 24px;
        line-height: 28px;
        min-width: 428px;
    }
    .link {
        margin-top: 45px;
        min-width: 228px;
        margin-bottom: 223px;
    }
    .title {
        margin-top: 67px;
        margin-bottom: 35px;
    }
    .employees {
        width: 61.2%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
    }
    .employee {
        width: 41.28%;
    }
    .team-btn {
        margin-top: 38px;
    }
   
}
@media screen and (min-width: 1440px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        margin-top: 65px;
    }
    .employees {
        width: 63.3%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .employee {
        width: 21.2%;
    }

}