a {
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
}
a::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: rgb(64, 212, 113);
}
a:hover::before{
    transform: scaleX(1);
}