*{
    padding: 0;
    margin: 0;
}

/* header */
header {
    display: flex;
    justify-content: center;
    /* туту були width: 1200px;
    height: 45px;
    background-color: blue;  */

}

.container{
    width: 60.83vw;
    /* тут був  height: 1200px; */
    /* justify-content: center; */
    /* background-color:blueviolet; */
}
.header-container {
    width: 100%;
}
.logo {
    /* display: inline-block; */
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    display: inline-block;
    letter-spacing: none;
}
.list {
    /* display: block;
    font-display: row;
    justify-content: end;
    position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 39.16%;
}
a {
    text-decoration: none;
}
/* header end */
/* body */
main {
    justify-content: center;
    display: flex;
}
/* перша частина */
.info-block {
/* пустота */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin-bottom: 20px;
}
/* тут був не потрібний .info-block  */
.line {
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: #F38181;
    flex-direction: row;
    justify-content: center;
}
.benefits {
    /* width: 1163px;
    height: 253px; */
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

}
.benefit {
    display: flex;
    width: 28.33%;
    background-color: #ddbcf8;
}
.benefit:nth-child(2n+1){
    background-color: rgb(132, 162, 247);
}
.text-block {
    display: inline-block;
    /* margin: 65px 70px 100px 70px; */
    font-display: row;
    align-content: stretch;
}
.img-block {
    display: flex;
    height: 100%;
    width: 11.17%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 23px;
}
/* кфнець першої частини */
.linesecond {
    display: flex;
/* пустота */
    height: 1px;
    background-color: #B6B6B6;
}

.main {
    /* display: flex; */
}
.benefit-description {
    width: 1104px;
    text-align: center;
    display: block;
    justify-content: center;
}
.card {
    height: 50%;
}
.text {
    display: block;
}
button {
    display: block;
}
.container-second {
    display: flex;
    width: 65.625vw;
}
.team {
    display: flex;
    justify-content: space-between;
}
.gradient {
    display: none;
}
.person {

}