@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap');
.line {
    width: 60px;
    height: 4px;
    background-color: #F38181;
    color: #F38181;
    justify-content: center;
}
.list {
    flex-direction: row-reverse;
    text-decoration: none;
}