@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.list_item {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
    color: #7D7D7D;
    font-family: 'Ubuntu', sans-serif;
}
.list_item a {    
    color:#7D7D7D;
    width: 71px;
    height: 19px;
}
.list_item a:hover{
    color: #03A9F4;
}
.list {
    /* margin-left: 315px; а я шо, я нічого */
    margin: 71px 200px 88px 265px;
}
.cards {
    margin-left: 150px;
 }
.card {
    width: 420px;
    display: inline-block;
    color: #626262;
    margin: 0px 0px 130px 0px;
}
.text {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    width: 64px;
    height: 16px;
    margin: 32px 0px;

}
.subtitle {
    margin: 32px 0px 40px 0px;
    font-family: 'Playfair Display', serif;
}
.paragraph {
    font-family: 'Playfair Display', serif;
}
 .last-card {
margin: 0px;
width: 420px;
display: inline-block;
}
img {
    width: 420;
    height: 280px;
}
img {
    width: 100%;
}
.card:nth-child(2n){
    margin-left: 65px;
}
.btn{
    margin: 90px 450px 70px 380px;
    width: 165px;
    height: 60px;
    background-color: #fff;
    color: #626262;
    border: 1px solid #626262;
    font-family: 'Playfair Display', serif;
 }
 .btn:hover{
     background-color: #03A9F4;
     color: #ffff;

 }
html {
    width:1200px ;
    height: 2236px;
}
 