*{
    padding: 0;
    margin: 0;
}
.container {
    width: 88.125vw;
}
.conteiner-holideys{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/aaa.png);
    background-position:center;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #ffffffff;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #ffffff;
}
.logo {
    font-size: 18px;
}
.log-in {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 112px;
}
.ref-sing-up {
    border: 2px solid #ffff;
    border-radius: 30px;
    padding: 9px 5px;
}
.about-holiday h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 30.041px;
    line-height: 37px;
    text-align: center;
}