*{
    padding: 0;
    margin: 0;
}
.container {
    width: 88.125vw;
}
.container-holidey {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/png.svg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: #ffffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 20px;
    padding: 13px 0;
    background: #FF4E50;
    width: 298px;
    margin-bottom: 136px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #ffffff;
}
.logo {
    font-size: 18px;
}
.log-in {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 112px;
}
.ref-sing-up {
    border: 2px solid #ffff;
    border-radius: 30px;
    padding: 9px 5px;
}
.about-holiday h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 30.041px;
    line-height: 37px;
    text-align: center;
}

.about-holiday a {
    width: 88.125%;
    min-width: 290px;
    padding: 13px 0;
    background-repeat: 30px;
    text-align: center;
    background-color: #FF4E50;
    font-style: normal;
    font-weight: bold;
    font-style: 13.9987px;
    line-height: 17;
    color: #ffff;
}
.container>h2 {
    font-style: normal;
    font-weight: bold;
    font-style: 22px;
    line-height: 27;
}
.employees {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.employee {
    width: 60.625vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.employee p {
    font-style: normal;
    font-weight: 300;
    font-style: 14.0112px;
    line-height: 16px;
    color:#666666;
}
.cool-text {
    text-align: center;
}
.team-btn {
    padding: 13px 60px;
    background-color: #fff;
    bottom: 2px solid #FF4E50;
    /* border-radius: ; */
}
.team-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: none; */
    /* border-radius: 50%; */
    font-style: normal;
    font-weight: bold;
    font-size: 14.001px;
    line-height: 17px;
    color: #FF4E50;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    box-sizing: border-box;
    padding: 13px 0;
    border-radius: 50px;
    width: 283px;
    margin-bottom: 50px; 
    margin-top: 29px;
}